<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/header.ejs")%>
  <body>
    <%- include("partials/navbar.ejs")%>
    <div class="container mt-5">
      <section class="border-top border-bottom border-primary">
        <h1><%= question.title %></h1>
        <p>
          <%= question.description %>
        </p>
      </section>
      <form class="mt-5" method="post" action="/answer">
        <h3>Responda</h3>
        <label class="mt-3">Resposta:</label>
        <textarea
          name="body"
          cols="12"
          placeholder="Digite sua resposta"
          class="form-control"
          rows="10"
        ></textarea>
        <input
          type="hidden"
          readonly
          name="questionId"
          value="<%=question.id%>"
        />
        <button type="submit" class="btn btn-primary mt-3">Responder</button>
      </form>
      <section class="mt-4">
        <h3 class="border-top border-bottom border-primary p-2 mb-4">
          Respostas
        </h3>
        <% answers.forEach(answer => { %>
        <div class="card mb-4">
          <div class="card-body">
            <p><%=answer.body%></p>
          </div>
        </div>
        <% }); %>
      </section>
    </div>
  </body>
</html>
